
../contracts/artifacts/
Tema1/contracts/artifacts/build-info/6bcce00d0c1c982517e7f7f672f5571e.json
Tema1/contracts/artifacts/build-info/7c9f7e3b4c1375d053c939c6a8328921.json
Tema1/contracts/artifacts/build-info/8a83326c41c9c813a49e7fdfa3601eb9.json
Tema2/contracts/artifacts/build-info/a015cccd8071d96de3a3bc28ec2a33c6.json
Tema2/contracts/artifacts/*
Tema2/scripts/*
Tema2/tests/*
